NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDOIiDg0Uk9liAP08iTy-0-O1zfsHw8_8E"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="note-6c1a0.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="note-6c1a0"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="note-6c1a0.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="36979312812"
NEXT_PUBLIC_FIREBASE_APP_ID="1:36979312812:web:f065fac26900e9985af709"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-77NB7C5PFY"
GOLD_PRICE_API_URL="https://api.chnwt.dev/thai-gold-api/latest"

APP_SESSION_SECRET="change-this-to-a-long-random-secret"
